.button-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: rgb(232,234,237 );
    border-radius: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;

}
.filter-button {
    color: white;
    background-color: var(--bg-one);
    width: 20%;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-family: -apple-system;
    cursor: pointer;
}
.filter-button:hover{
    opacity: 90%;

}