:root{
--transition: 0.2;
--bg-one: hsl(280, 60%, 5%);
--bg-two: hsl(280, 90%, 15%);
--stop: 40;
--angle: 45;
--border-width: 5;
--padlock-size: 300;
--border-radius: 6;
}
body {
  background-attachment: fixed;
  scroll-behavior: smooth;
  background-image:  linear-gradient(calc(var(--angle) * 1deg), var(--bg-one) calc(var(--stop) * 1%), var(--bg-two) calc(var(--stop) * 1%));

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
